
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.3;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar content';
}

.header {
    grid-area: header;
    padding: 1.5rem 3rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 3;
}

.top-nav {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 1rem;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
    gap: 0.5rem;
}

.search-container input {
    display: inline-block;
    border: 0;
    background-color: rgb(229, 229, 229);
    padding: 5px 20px;
    margin-left: 1rem;
    border-radius: 99em;
    width: 300px;
}

.search-container button {
    background-color:#E89897;
    color: white;
    border: none;
    border-radius: 0.8rem;
    padding: 5px 20px;
}

.search-container button:hover {
    background-color: #FFB284;
}

.header .profile-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 25px;
    font-size: 1rem;
}

.profile-container .profile-pic {
    width: 35px;
    height: auto;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  

.welcome-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcome-container img {
    width: 75px;
    height: auto;
    border-radius: 5rem;
}

.welcome-container h1 {
    font-size: 1.6rem;
    font-weight: 800;
}

.welcome-container p {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.btns-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 25px;
    font-size: 1rem;
}

.btns-container button {
    background-color:#E89897;
    color: white;
    border: none;
    border-radius: 0.8rem;
    padding: 5px 20px;
}

.btns-container button:hover {
    background-color: #FFB284;
}

.sidebar {
    grid-area: sidebar;
    padding: 2rem;
    background-color: #E89897;
}

.sidebar h2 {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    color: white;
}

.nav {
    display: grid;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1.rem;
    gap: 1.5rem;
}

.nav-current {
    font-weight: 900;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: #FFB284;
}

.nav li {
    padding: 1rem;
    list-style: none;
}

main {
    grid-area: content;
    padding: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    grid-template-areas:
        'projects announcements'
        'projects trending';
    overflow: auto;
    background-color: #849D8A;
}

main h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

main .projects {
    grid-area: projects;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 2rem;
    padding-bottom: 2rem;
    overflow: scroll;
}


.projects .card {
    padding: 1.5rem;
    box-shadow: grey;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    font-size: 0.9rem;
    background-color: white;
    border-left: 10px solid #E89897;
}


.projects .card h5 {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.card li {
    margin-left: 1rem;
}

.card li::marker {
    content: "🧡"
}

.card img {
    border-radius: 2rem;
}

button {
    cursor: pointer;
}

.announcements {
    grid-area: announcements;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.announcements-container {
    background: white;
    padding: 1.5rem;
    box-shadow: grey;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    font-size: 0.9rem;
    background-color: white;
}

.announcements p {
    font-size: 0.7rem;
}

.announcements h5 {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

hr {
    margin: 15px 0 15px 0;
}

.trending {
    grid-area: trending;
}

.trending-container {
    background: white;
    padding: 1.5rem;
    box-shadow: grey;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
}

.trending-card {
    display: flex;
}

.name {
    color: rgb(82, 81, 81);
    font-size: 0.7rem;
}

.username {
    font-size: 0.8rem;
}


